.DS_Store
Vue/node_modules/
Vue/dist/
Admin/node_modules
Server/tmp
Server/Config
Server/Logo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
